# dependencies
web/node_modules
web/.pnp
web/.pnp.*
web/.yarn/*
!web/.yarn/patches
!web/.yarn/plugins
!web/.yarn/releases
!web/.yarn/versions

# testing
web/coverage

# next.js
web/.next/
web/out/

# production
web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
web/.env*
.env*

# vercel
web/.vercel
.vercel

# typescript
web/*.tsbuildinfo
web/next-env.d.ts

# Claude Code
.claude/
